<template>
    <div>
        Login Page
    </div>
</template>

<script>
export default {
    name: "Login",
    data() {
        return {
            //
        }
    },
    created() {
    },
    methods: {}
}
</script>